/*Mobile screen*/
@media (min-width: 200px) {
  .carousel-caption {
    font-size: 5pt;
  }
  .carousel-caption {
    font-size: 11pt;
  }
  footer > p {
    font-size: 5pt;
  }
}
/*Extra small window screen*/
@media (min-width: 400px) {
  .carousel-caption {
    font-size: 5pt;
  }
  .carousel-caption {
    font-size: 5pt;
  }
  footer > p {
    font-size: 7pt;
  }
}
/*Small window screen*/
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .carousel-caption {
    font-size: 7pt;
  }
  footer > p {
    font-size: 8pt;
  }
}
/*Medium sized window screen*/
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .carousel-caption {
    font-size: 8pt;
  }
  footer > p {
    font-size: 8pt;
  }
}
/*Large window screen*/
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .carousel-caption {
    font-size: 9pt;
  }
  footer > p {
    font-size: 8pt;
  }
}
/*Full Sized window*/
@media (min-width: 1200px) {
  .container {
    max-width: 1040px;
  }
  .carousel-caption {
    font-size: 11pt;
  }
  footer > p {
    font-size: 8pt;
  }
}

body {
  background: rgb(19, 6, 19);
  font-family: monospace;
  font-size: 11pt;
  margin-left: 20px;
  margin-right: 20px;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

footer > p {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: right;
  color: #e4e2ff;
}

h1,
h4 {
  font-size: 18pt;
  color: #e4e2ff;
}

h5 {
  color: rgba(162, 200, 231, 0.822);
}

.title {
  font-size: 45pt;
  text-align: center;
}

.menu {
  text-align: center;
  font-size: 16pt;
  color: #e4e2ff;
}

a:link,
a:visited {
  color: rgb(61, 98, 219);
  text-decoration: none;
}

mark {
  background-color: rgba(162, 200, 231, 0.822);
}

.container {
  width: 100%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.carousel {
  width: 80%;
  height: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

section {
  margin-top: 20px;
  margin-bottom: 20px;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

.visible-button {
  display: inline;
}

.card,
.even-rows {
  background-color: rgb(27, 24, 53);
}

.form-control,
.odd-rows {
  background-color: rgb(23, 7, 51);
}

thead,
th,
label,
ul,
a:hover,
p {
  color: rgb(109, 182, 250);
}

td {
  color: rgb(61, 98, 219);
}

.table-heading {
  text-align: center;
  font-size: 16pt;
  color: #e4e2ff;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

table {
  padding: 30px;
}

.user-account-info {
  display: grid;
  margin-right: 50px;
  margin-left: 50px;
}

.user-activity {
  grid-row: 1 / span 11;
  grid-column: 1 / span 3;
}

.user-info {
  grid-row: 1 / span 4;
  grid-column: 5 / span 2;
}

.user-highscores {
  grid-row: 6 / span 6;
  grid-column: 5 / span 2;
}

#logout-button {
  width: 100%;
  margin: auto;
}

.myCanvas {
  background: rgb(255, 254, 254);
  border: 100px black;
  margin: 0 auto;
}

.game-layout {
  width: 100%;
  display: grid;
}

.game {
  grid-column: 1;
  grid-row: 1 / span 3;
}

.instructions {
  grid-column: 2;
  grid-row: 2;
  box-shadow: 1px 1px 3px 1px rgb(109, 182, 250),
    -1px -1px 3px 1px rgb(109, 182, 250);
  border-radius: 3px;
  padding: 20px;
}

.invalid-input {
  box-shadow: 1px 1px 3px 1px red, -1px -1px 3px 1px red;
  border-radius: 3px;
}

#about-us-layout {
  width: 100%;
  display: grid;
}

#alex {
  grid-column: 1;
  grid-row: 1;
}

#trung {
  grid-column: 2;
  grid-row: 1;
}

#angelic {
  grid-column: 3;
  grid-row: 1;
}

.creator-img {
  width: 240px;
  height: 240px;
  margin-bottom: 10px;
}

.carousel-img,
.carousel-img-title {
  margin: 0 auto;
  display: block;
  padding: 5px;
  color: rgb(61, 98, 219);
}
